/* Global Reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Josefin Sans", sans-serif;
}

main,
header {
  padding: 1rem;
}

img {
  /* defaults all images to 100% of the its parent element */
  width: 100%;
}

/* ----- HEADER START ----- */
header nav ul li {
  display: none;
}

#logo {
  display: inline;
  font-size: 2.5rem;
  letter-spacing: 2px;
  font-family: "Rancho", cursive;
}

#burger-menu {
  display: inline;
  float: right;
  font-size: 1.6rem;
}
/* ----- HEADER END ----- */

/* ------ MAIN START ----- */
.hero-info h1 {
  font-weight: lighter;
  font-size: 3.5rem;
  color: rgb(50, 50, 50);
  margin: 3rem 0;
}

.vegan-green {
  color: #2a9d8f;
}

#hero-buttons {
  display: flex;
  justify-content: space-around;
}

#styled-menu-button {
  background-color: #e76f51;
  color: white;
  padding: 0.5rem 1.5rem;
  box-shadow: 1px 1px 10px #e76f51;
  border-radius: 5px;
  border: none;
  margin-right: 15%;
}

#styled-location-button {
  border: none;
  background-color: white;
  font-size: 1rem;
  padding: 0.5rem 1.5rem;
}

.hero-info img {
  margin: 3rem 0;
}

/* ----- MAIN END ------ */

/* ----- MEDIA QUERIES ------ */
@media screen and (min-width: 725px) {
  body {
    max-width: 960px;
    margin: 0 auto;
  }

  main {
    padding: 0;
  }

  header nav ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  header nav ul li {
    display: inline;
  }

  #burger-menu {
    display: none;
  }

  .hero {
    display: flex;
    padding: 1rem;
  }

  .hero-info {
    padding: 1rem;
  }

  .hero-info-block {
    display: block;
  }

  #hero-buttons {
    justify-content: flex-start;
  }

  #hero-image {
    width: 60%;
    height: auto;
  }
}
